{% extends 'auth_layout.html' %}
{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block auth %}
    <span class="login100-form-title" style="padding-bottom:55px">
        {% trans "Account Inactive" %}
    </span>

    <div class="text-center w-full">
        <span class="txt1">
            {% trans "This account is inactive." %}
        </span>
    </div>

    <div class="text-center w-full" style="padding-top:20px">
        <span class="txt1">
            {% trans " Please contact us if you have this problem." %}
        </span>
    </div>


{% endblock %}
