{% extends 'auth_layout.html' %}
{% load i18n %}
{% load account %}


{% block auth %}

    <span class="login100-form-title" style="padding-bottom:55px">
        {% trans "Confirm E-mail Address" %}
    </span>

    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <div class="text-center w-full" style="padding-top:25px">
						<span class="txt1">
							{% blocktrans with confirmation.email_address.email as email %}Please confirm that
                                <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                                {{ user_display }}
                                .{% endblocktrans %}
						</span>

        </div>
        <div class="container-login100-form-btn" style="padding-top:25px">
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="login100-form-btn" type="submit">{% trans 'Confirm' %}</button>
            </form>
        </div>

    {% else %}

        {% url 'account_email' as email_url %}

        <div class="text-center w-full" style="padding-top:20px">
						<span class="fs-20" style="color: red">
                            {% blocktrans %}This e-mail confirmation link expired or is
                                invalid.                                {% endblocktrans %}
                        </span>
        </div>
        <div class="text-center w-full" style="padding-top:20px">
						<span class="txt1">
                            {% blocktrans %}Please
                                <a href="{{ email_url }}">issue a new e-mail confirmation request by logging in</a>
                                .{% endblocktrans %}
                        </span>
        </div>
    {% endif %}
{% endblock %}
