{% extends 'auth_layout.html' %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block form_title %}{% trans "Password Reset Done" %}{% endblock %}

{% block auth %}

    {# TODO template for authentificated user#}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="text-center w-full" style="padding-top:20px">
        <span class="txt_big">
          {% blocktrans %}
              We have sent you an e-mail.
          {% endblocktrans %}
        </span>
    </div>

    <div class="text-center w-full" style="padding-top:20px">
        <span class="txt1">
            {% trans " Please contact us if you do not receive it within a few minutes." %}
        </span>
    </div>


{% endblock %}
