{% extends 'auth_layout.html' %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block form_title %}{% trans "Change Password" %}{% endblock %}

{% block auth %}
    <form method="post" novalidate xmlns="">
        {% csrf_token %}
        <fieldset class="form-group">
            {% include 'form_layout.html' with form=form %}
        </fieldset>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn">
                Reset password
            </button>
        </div>
    </form>
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}
