{% extends 'auth_layout.html' %}
{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}
{% block form_title %}{% trans "Verify Your E-mail Address First" %}{% endblock %}

{% block auth %}

    <div class="text-center w-full">
        <span class="txt1">
           {% trans "We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process." %}
        </span>
    </div>

    <div class="text-center w-full" style="padding-top:20px">
        <span class="txt1">
            {% trans " Please contact us if you do not receive it within a few minutes." %}
        </span>
    </div>

    <div class="text-center w-full" style="padding-top:20px">
        <span class="txt1">
            {% trans "Already verified?" %}
        </span>

        <a class="txt1 bo1 hov1" href="{% url 'account_login' %}">
            {% trans "Log in" %}
        </a>
    </div>
{% endblock %}

