[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
django-widget-tweaks = "*"
pillow = "*"

[dev-packages]
bump2version = "*"
flake8 = "*"

[requires]
python_version = "3.7"
