[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2*"
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
django-widget-tweaks = "*"
gunicorn = "*"
pillow = "*"
django-webpack-loader = "*"
django-oauth-toolkit = "*"
django-cors-middleware = "*"
drf-user = "*"
drfaddons = "*"
django-filter = "*"
whitenoise = ">=4.0"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
bump2version = "*"
flake8 = "*"

[requires]
python_version = "3.7"
