[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
backcall = "*"
certifi = "*"
chardet = "*"
decorator = "*"
django = ">=3.0.5"
django-allauth = "*"
django-ckeditor = "*"
django-cors-headers = "*"
django-environ = "*"
django-extensions = "*"
django-filter = "*"
django-modeltranslation = "*"
django-push-notifications = "*"
django-pwa = "*"
django-redis = "*"
django-rest-auth = "*"
django-rest-polymorphic = "*"
django-simple-mail = "*"
django-webpush = "*"
djangorestframework = "*"
gevent = "*"
greenlet = "*"
gunicorn = "*"
idna = "*"
ipython = "*"
ipython_genutils = "*"
jedi = "*"
mccabe = "*"
mypy = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
Pillow = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pycodestyle = "*"
pyflakes = "*"
Pygments = "*"
pytz = "*"
raven = "*"
redis = "*"
requests = "*"
rope = "*"
simplegeneric = "*"
six = "*"
traitlets = "*"
typed-ast = "*"
wcwidth = "*"
Werkzeug = "*"
whitenoise = "*"
"psycopg2-binary" = "*"
"urllib3" = "*"
drf-writable-nested = "*"
django-rest-passwordreset = "*"

[dev-packages]
bump2version = "*"
flake8 = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
