[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.2*"
django-allauth = "*"
django-cors-headers = "*"
django-rest-auth = "*"
djangorestframework = "*"
gunicorn = "*"
pillow = "*"
whitenoise = ">=4.0"

[dev-packages]
django-webpack-loader = "*"
bump2version = "*"
flake8 = "*"

[requires]
python_version = "3.7"
