{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
        <title>{{ title }} | Managements system </title>
    {% else %}
        <title>Managements system</title>
    {% endif %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>
    {% block style %}
    {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}
</body>
</html>
