{% extends "base.html" %}

{% block content %}
    <noscript>
        <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong>
    </noscript>

    <div id="app"></div>
    {% if user.is_authenticated %}
        Hi {{ user.email }}!
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'account_login' %}">Log In</a> |
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
    <!-- built files will be auto injected -->
    {#    {% render_bundle 'app' %}#}
{% endblock %}
